body {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 600px) {
    .container {
        width: 75%;
    }
    .no-border {
        border: 0;
        box-shadow: none;
        background: none;
    }
}

.no-border {
    border: 0;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    background-color: white;
    box-shadow: none;
    background: #333;
    color: white;
}

.font-size {
    font-size: 28px;
}

@media (max-width: 580px) {
    .font-size {
        font-size: 20px;
    }
}